<div class="navbar">
  <div class="Brand">brand</div>
  <div>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="search_div">
    <form class="search_form_nav">
      <input
        class="form-control"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="" type="submit">Search</button>
    </form>
  </div>
  <div>
    <ul class="nav_ul">
      <li class="nav-item">
        <a class="loginMenu"> login <span>&#x25BC;</span></a>
        <ul class="submenu">
          <li>new user <a href="#">sign up</a></li>
          <li href="#"><a href="">profile</a></li>
          <li href="#"><a href="">my history</a></li>
        </ul>
      </li>
      <li><a href="">cart</a></li>
    </ul>
  </div>
</div>
