* {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  height: 4rem;
}
.navbar .Brand {
  font-size: 1.5rem;
}

.search_div {
  padding: 0.2rem;
  background-color: #fff;
  border: olivedrab;
  border-radius: 5px;
}
.search_form_nav {
  display: flex;
  width: 30rem;
  padding: 0.3rem 0;
}
.search_form_nav input {
  width: 100%;
  color: black;
}

.search_form_nav input,
.search_form_nav button {
  border-radius: 5px;
  border: none;
}
.nav_ul {
  display: flex;
  justify-content: space-around;
}
.nav_ul li {
  margin-right: 5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #001b94;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropbtn {
    padding: .2rem 1rem;
    color: rgba(54, 54, 224, 0.877);
    background-color: #fff;
    text-align: center;
    border-radius: 3px;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all 0.4s ease-in-out;

}
.dropbtn .arrow {
    color: rgb(95, 92, 92);
}

.dropbtn:hover .arrow {
    cursor: pointer;
    color: rgb(252, 252, 252);

}
.dropdown-content a {
  color: rgb(199, 194, 194);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #5872aa;
  color: #ffffff;
}
.dropdown-content:hover {
    color: blue;
}
.dropdown a{
    padding: 0.5rem 2rem;
    width: max-content;
}
.dropdown-content a{
    font-size: 0.9rem;
    text-align: center;
    padding: 0.5rem 1rem;

}
.dropdown-content a em {
    margin-right: 1rem;
    font-size: 0.9rem;
}
.register {
    font-weight: 600;
}
.register:hover {
    color: #5872aa;
}