<div class="navbar">
  <div class="Brand">brand</div>
  <div>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="search_div">
    <form class="search_form_nav">
      <input
        class="form-control"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="" type="submit">Search</button>
    </form>
  </div>
  <div>
    <ul class="nav_ul">
      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn" routerLink="user/login">login <span class="arrow"> &#x25BC;</span></button>
          <div class="dropdown-content">
            <a routerLink="user/signup"><em>new user</em> <span class="register" routerLink="user/signup">register</span></a>
            <!-- <a href="#">my profile</a>
            <a href="#">my history</a> -->
          </div>
        </div>
       
      </li>

      <li><a href="">cart</a></li>
    </ul>
  </div>
</div>
