<div id="login-box">
    <div class="left">
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <h1>Sign up</h1>      
      <input type="text" formControlName="username" name="username" placeholder="Username" />
      <!-- <input type="number" formControlName="mobile" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==10) return false;" />  -->

      <input type="text" formControlName="mobile" name="mobile" placeholder="mobile" maxlength="10"/>
      <input type="email" formControlName="email" name="email" placeholder="E-mail" />
      <input type="password" formControlName="password" name="password" placeholder="Password" />
      <input type="password" (change) = "passMatch()" formControlName="confirm" name="password" placeholder="Retype password" />      
      <input type="text" formControlName="country" name="country" placeholder="country" />
      <p *ngIf="isFormFill() !== false">please fill the form</p>
      <button type="submit" (click)="checkInput()" [disabled]="isFormFill()">submit</button>
      </form>
      
    </div>
    
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div>